// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

/* src/styles.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #0b0b1a;
  color: #ffffff;
  overflow-x: hidden;
  user-select: none; /* Ideal para tablets/niños */
  -webkit-tap-highlight-color: transparent;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$rose-palette,
        tertiary: mat.$red-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  // Reset the user agent margin.
  margin: 0;
  height: 100%;
  touch-action: pan-y; /* Previene gestos de zoom accidentales */
  overflow-x: hidden;
}
button, .profile-card, .add-card {
  touch-action: manipulation; /* Evita el retraso de 300ms al tocar en tablet */
  -webkit-tap-highlight-color: transparent;
}
